# URL dasar Laravel API
VITE_API_BASE_URL=http://localhost:8000

# Konfigurasi Reverb (harus sama dengan .env Laravel)
VITE_REVERB_APP_KEY=kimpo_key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
